# Node
node_modules/

# Hardhat
cache/
abis/
artifacts/

# Typechain
typechain-types/

# Env
.env

# Coverage
coverage/
coverage.json

# Intellij
.idea
build/
contracts/uniswapv2

# ESLint
.eslintcache

# Dodoc
docs/**/*
